<div>
    <h4>My Events</h4>
    

    <div *ngFor="let event of eventList; let index = index; trackBy:customTrackBy;" [routerLink]="['/detail', event.key]" name="eventList" (click)="handleEventClicked()">
        <a style="cursor:pointer;" id="eventSidebar#{{index}}">{{event.title}}</a>
    </div>


    <br>
    <br>
    <h4>My Tasks</h4>

    <div *ngFor="let task of myTaskList; let index = index; trackBy:customTrackBy;" [routerLink]="['/detail', task.eventkey]" name="myTaskList" (click)="handleEventClicked()">
        <a style="cursor:pointer;" id="taskSidebar#{{index}}">{{task.title}}</a>
    </div>

<br>
</div>