<h3>Survey</h3>
<div>
    <div *ngFor="let survey of surveyList; let i = index; " name="surveyContainer">
        <div id="SurveyContainer#{{i}}" class="surveyContainer">
            <div>
                <h4 (click)="titleClicked(i)" class="surveyHeading">{{surveyList[i].title}}</h4>
            </div>
            <div id="surveyContent#{{i}}" class="surveyContentDropdown">
                <h5>{{survey.question}}</h5>
                <div *ngIf="survey.multiple == false">
                    <fieldset>
                        <div *ngFor="let answer of survey.getAnswers();let answerIndex = index;  trackBy:customTrackBy;">
                            <input type="radio" name="selection" id="ea#{{i}}#{{answerIndex}}" >
                            <label for="ea#{{answerIndex}}">{{answer.getAnswer()}}</label><br>
                        </div>
                    </fieldset>
                </div>
                <div *ngIf="survey.multiple">
                    <fieldset>
                        <div *ngFor="let answer of survey.getAnswers();let answerIndex = index;  trackBy:customTrackBy;">
                            <input type="checkbox" id="mul#{{i}}#{{answerIndex}}" >
                            <label for="mul#{{answerIndex}}">{{answer.getAnswer()}}</label><br>
                        </div>
                    </fieldset>
                </div>
                <div id="warningSelection#{{i}}" class="warning"><small class="form-text text-danger">You have to select something</small></div>
                <button class="btn btn-default voteButton" (click)="voteClicked(survey, i)">Vote</button>
                <div id="warningVote#{{i}}" class="warning"><small class="form-text text-danger">You have already voted for this survey!</small></div>
            </div>
        </div>
    </div>
</div>