.module {
      padding: 25px;
      text-align: center;
      color: #eee;
      background-color: #5882FA;
      border-radius: 2px;
      margin: 10px;
      word-wrap: break-word;
      min-width: 230px;
}
.module:hover {
      background-color: #EEE;
      cursor: pointer;
      color: #607d8b;
}


