.module {
      padding: 10px;
      text-align: center;
      color: #eee;
      background-color: #5882FA;
      border-radius: 2px;
      margin: 12px;
      word-wrap: break-word;
      min-width: 250px;
}
.module:hover {
      background-color: #EEE;
      cursor: pointer;
      color: #607d8b;
}

.button-deleteEvent{
      position: absolute;
      top: 5px;
      right: 5px;
}

.separator-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  border: none;
  font: normal 25px/1;
  color: rgba(119,118,118,1);
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  clear: both;
}