<!--

<div *ngIf="showEvents">
    <div class="container-fluid col-lg-12">
        <div *ngFor="let event of eventList; let index = index; trackBy:customTrackBy;" [routerLink]="['/detail', event.key]" name="eventContainer">
          <div id="eventContainer#{{index}}" class="module container col-sm-3">
            <div class="row"><h4>{{event.title}}</h4></div>
            {{event.date_fromShortString}}
            <button (click)="deleteButtonClicked(event.key)" class="btn btn-danger button-deleteEvent"><span class="glyphicon glyphicon-minus"></span></button>
          </div>
        </div>
    </div>
</div>

-->

<div *ngIf="showEvents">
    <div class="container-fluid col-lg-12">

      <div *ngFor="let eventMonthList of eventMonthLists; let indexMonth = index; trackBy:customTrackBy;">

        <div class="separator-box hidden-xs">{{eventMonthList.month}} {{eventMonthList.year}}</div>
        <div class="separator-box-center hidden-sm hidden-md hidden-lg">{{eventMonthList.month}} {{eventMonthList.year}}</div>

        <div *ngFor="let event of eventMonthList.eventList; let index = index; trackBy:customTrackBy;" [routerLink]="['/detail', event.key]" name="eventContainer">
          <div id="eventContainer#{{indexMonth}}:{{index}}" class="module container col-sm-3">
            <div class="row"><h4>{{event.title}}</h4></div>
            {{event.getDateFromShortString()}}
            <button (click)="deleteButtonClicked(event.key)" class="btn btn-danger button-deleteEvent"><span class="glyphicon glyphicon-minus"></span></button>
          </div>
        </div>
        
      </div>

    </div>
</div>