<h2>Chat</h2>
<form>
<div class="form-group">
<form class="form-horizontal">
<div class="row" *ngFor="let message of messageList; let index = index; trackBy:customTrackBy;">
    <div class="col-lg-12">
       
            <div class="form-group">
                <label class="col-sm-3 control-label">{{message.sender}}</label>
                <div class="col-sm-7">
                    <p class="form-control-static">{{message.text}}</p>
                </div>
            </div>
        
    </div>
</div>
</form>


<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <textarea [(ngModel)]="currentMessageString" name="currentMessageString" type="text" class="form-control" placeholder="write message here..."></textarea>
            
            <button id="buttonSend" class="btn btn-default" (click)="onSendClicked()" type="submit"><span class="">send</span></button>
            
        </div>
    </div>
</div>
</div>
</form>