#messageContainer{
    max-height: 100px !important;
}

.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 13em;
  opacity: 0.4;
  padding: 5px;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal 18px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;

  word-wrap: break-word;
  overflow: auto; 
}
.messages {
  overflow-y: auto;
  margin-bottom: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 30em;
  padding: 5px;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background:#f8f8f8;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  word-wrap: break-word;
}
#message-filler {
  flex-grow: 1;
}
.message-container {
  display: block;
  margin-top: 10px;
  border-top: 1px solid grey;
  padding-top: 10px;
  background: transparent;
  opacity: 1;
}

.message-container .spacing {
  display: table-cell;
  vertical-align: top;
  color: grey;
}
.message-container .message {
  display: table-cell;
  width: calc(100% - 40px);
  padding: 5px 0 5px 10px;
  background: transparent;
  color: black;
}
.message-container .name {
  display: inline-block;
  width: 100%;
  padding-left: 40px;
  color: black;
  font-style: italic;
  font-size: 12px;
  box-sizing: border-box;
  background: transparent;
}