<nav-bar></nav-bar>

<div class="hidden-xs col-sm-2">
    <sidebar-content></sidebar-content>
</div>


<ng2-sidebar [(open)]="_open" closeOnClickOutside=true showOverlay=true defaultStyles=true position="top">
      <sidebar-content></sidebar-content>
	  <a closeSidebar>Closes the sidebar</a>
</ng2-sidebar>

<div class="visible-xs-block" style="position: fixed; bottom: 0px; right: 0px; z-index: 1">
	<button class="btn btn-default" (click)="_toggleSidebar()"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
</div>

<div class="container-fluid col-sm-10 col-xs-12">
    <router-outlet></router-outlet>
</div>