<div *ngIf="showEvents">
    <div class="container-fluid col-lg-12">
        <div *ngFor="let event of eventList; let index = index; trackBy:customTrackBy;" [routerLink]="['/detail', event.key]" name="eventContainer">
          <div id="eventContainer#{{index}}" class="module container col-sm-3">
            <div class="row"><h4>{{event.titel}}</h4></div>
            {{event.key}}
            <button (click)="deleteButtonClicked(event.key)" class="btn btn-danger button-deleteEvent"><span class="glyphicon glyphicon-minus"></span></button>
          </div>
        </div>
    </div>
</div>
<button (click)="doEvent()">Fabi Test</button>